@font-face {
	font-family: boardmarker;
	src: url(BoardMarker.ttf);
}

@font-face {
	font-family: marley;
	src: url(Marley-Regular.otf);
}

img {
	display: block;
	border-radius: 50px;
	margin:auto;
	padding: 5px;
}

h1, h2 {
	text-align: left;
	margin-left: 10px;
	padding-left: 10px;
	font-family: boardmarker;
}

h3 {
	margin-left: 10px;
	padding-left: 10px;
	text-align: center;
	font-family: marley;
}

#name {
	text-align: center;
}

#about {
	margin: auto;
	width:60%;
	padding: 10px;
	border-style:solid;
	border-width: 3px;
	background-color: rgba(0, 0, 255, 0.3);
}

#more {
	margin: auto;
	width:60%;
	padding:10px;
	border-style: solid;
	border-width: 3px;
	background-color: rgba(0, 0, 255, 0.3);
}